In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

## HYDERABAD :

In [2]:
names = []
address = []
city = []
features = []
ratings = []
votes = []
prices = []
for i in range(1,6):
        url="https://www.oyorooms.com/hotels-in-hyderabad/?page="+str (i)
        print(url)
        
        page = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        soup = BeautifulSoup(page.text, 'html.parser')
        
        N = soup.find_all("a", class_="c-nn640c u-width100")
        for i in N:
            a = i.text
            names.append(a)
        
        rat=soup.find_all('div',class_="oyo-cell--12-col listingHotelDescription__content")
        for i in rat:
            a = i.text
            b = re.findall("(\d\.\d)\s\(", a)
            ratings.append(b) 
        
        pr=soup.find_all("span",class_='listingPrice__finalPrice')
        for i in pr:
            a=i.text
            prices.append(a)  
       
        add=soup.find_all("span",class_="u-line--clamp-2")
        for i in add:
            a=i.text
            address.append(a.replace(', Hyderabad', ""))  
            
            
        vo=soup.find_all("div",class_="oyo-cell--12-col listingHotelDescription__content")
        for i in vo:
            a =i.text
            b = re.findall("\((\d+)\sRatings", a)
            votes.append(b)
        ci=soup.find_all("span",class_="u-line--clamp-2")
        for i in ci:
            a=i.text
            city.append(re.findall(r"Hyderabad", a)) 
            
            
        fea = soup.find_all("div", class_="amenityWrapper")
        for i in fea:
            a = i.text
            features.append(a.split("+")[0])

https://www.oyorooms.com/hotels-in-hyderabad/?page=1
https://www.oyorooms.com/hotels-in-hyderabad/?page=2
https://www.oyorooms.com/hotels-in-hyderabad/?page=3
https://www.oyorooms.com/hotels-in-hyderabad/?page=4
https://www.oyorooms.com/hotels-in-hyderabad/?page=5

In [3]:
print(len(names))
print(len(ratings))
print(len(prices))
print(len(address))
print(len(votes))
print(len(city))
print(len(features))

100
100
100
100
100
100
100

In [4]:
dic={"Hotel_Names":names,
   "Address":address,
   "City":city,
   "Ratings":ratings,
   "Votes":votes,
   "Prices":prices,
   "Features":features
  }

In [5]:
df=pd.DataFrame(dic)
df

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,[Hyderabad],[4.4],[1233],₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,[Hyderabad],[3.8],[135],₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"[Hyderabad, Hyderabad]",[3.9],[98],₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,,[Hyderabad],[5.0],[7],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,[Hyderabad],[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
95,OYO Flagship Hotel Vaishnavi Palace,"#2-4-133 Beside KFC, Mahatma Gandhi Rd, Secund...",[Hyderabad],[4.1],[872],₹1244,Parking facility Reception Free Wifi
96,OYO Flagship Hotel Ragas Inn,Rajendra Nagar,[Hyderabad],[4.0],[14],₹1401,Elevator Free Wifi Geyser
97,SPOT ON Hotel Akshaya Residency Near Bbr Supe...,Malkajgirinull,[Hyderabad],[3.9],[475],₹893,Elevator Reception Free Wifi
98,OYO Flagship The Metro International Hotel,Nayapul,[Hyderabad],[4.0],[62],₹1432,AC TV
99,OYO Sai Residency Near SR Nagar metro station,"Near Sr nagar metro station, Jawahar Nagar",[Hyderabad],[3.1],[336],₹1029,Reception Free Wifi Geyser

## BANGLORE:

In [6]:
names = []
address = []
city = []
features = []
ratings = []
votes = []
prices = []
for i in range(1,6):
        url="https://www.oyorooms.com/hotels-in-bangalore/?page="+ str (i)
        print(url)
        page = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        N = soup.find_all("a", class_="c-nn640c u-width100")
        for i in N:
            a = i.text
            names.append(a)
        
        rat=soup.find_all('div',class_="oyo-cell--12-col listingHotelDescription__content")
        for i in rat:
            a = i.text
            b = re.findall("(\d\.\d)\s\(", a)
            ratings.append(b) 
        
        pr=soup.find_all("span",class_='listingPrice__finalPrice')
        for i in pr:
            a=i.text
            prices.append(a)  
       
        add=soup.find_all("span",class_="u-line--clamp-2")
        for i in add:
            a=i.text
            address.append(a.replace(', Bangalore', ""))  
            
            
        vo=soup.find_all("div",class_="oyo-cell--12-col listingHotelDescription__content")
        for i in vo:
            a =i.text
            b = re.findall("\((\d+)\sRatings", a)
            votes.append(b)
        ci=soup.find_all("span",class_="u-line--clamp-2")
        for i in ci:
            a=i.text
            city.append(re.findall(r"Bangalore", a)) 
            
            
        fea = soup.find_all("div", class_="amenityWrapper")
        for i in fea:
            a = i.text
            features.append(a.split("+")[0])

https://www.oyorooms.com/hotels-in-bangalore/?page=1
https://www.oyorooms.com/hotels-in-bangalore/?page=2
https://www.oyorooms.com/hotels-in-bangalore/?page=3
https://www.oyorooms.com/hotels-in-bangalore/?page=4
https://www.oyorooms.com/hotels-in-bangalore/?page=5

In [7]:
print(len(names))
print(len(ratings))
print(len(prices))
print(len(address))
print(len(votes))
print(len(city))
print(len(features))

100
100
100
100
100
100
98

## FILLING NAN VALUE:

In [8]:
features.insert(95,np.NaN)
features.insert(98,np.NaN)

In [9]:
print(len(features))

100

In [10]:
dic1={"Hotel_Names":names,
   "Address":address,
   "City":city,
   "Ratings":ratings,
   "Votes":votes,
   "Prices":prices,
   "Features":features
  }

In [11]:
df1=pd.DataFrame(dic1)
df1

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Srinivasa Boarding And Lodging Near Vi...,"Near N R Colony, Sajjepalya",[Bangalore],[3.2],[402],₹399,TV
1,Flagship S M Residency Near Mysore Road Metro ...,Nagarbhavi,[Bangalore],[3.4],[323],₹572,Free Wifi Geyser Power backup
2,Collection O 81138 Emara Galaxy Executive Rooms,Karnataka,[Bangalore],[4.1],[126],₹822,Elevator Reception Free Wifi
3,OYO Hotel Golden Inn Near Cubbon Park,"Centrally Located, Near HKP Road, Shivaji Nagar",[Bangalore],[3.5],[601],₹1194,Free Wifi Geyser Power backup
4,OYO Flagship Sunder Nivas,Yeshwantpur,[Bangalore],[3.9],[143],₹822,Parking facility Elevator Free Wifi
...,...,...,...,...,...,...,...
95,OYO 8501 ABHIMAANI COMFORTS,Kanakpura main road metro pillar number 45 nea...,[],[3.5],[227],₹1360,NaN
96,OYO Flagship V R Residency Near Sri Amruth Chi...,"Centrally Located, Near 4th block, HBR Layout",[Bangalore],[3.6],[113],₹1216,Private entrance Elevator Free Wifi
97,OYO Home Exotic Stay Bsk 3rd Stage,Katriguppe,[Bangalore],[3.6],[461],₹1360,Parking facility Reception Free Wifi
98,OYO Townhouse 093 Ramamurthy Nagar Near Baiyap...,"Near Ramamurthy Nagar Signal,Karnataka",[Bangalore],[4.1],[483],₹1766,NaN
99,OYO Flagship Blooms Residency Near Baiyappanah...,Bangalore East,"[Bangalore, Bangalore]",[4.4],[689],₹1712,Doctor on call Hair Dryer Parking facility

## DELHI:

In [12]:
names = []
address = []
city = []
features = []
ratings = []
votes = []
prices = []
for i in range(1,6):
        url="https://www.oyorooms.com/hotels-in-delhi/?page="+ str (i)
        print(url)
        page = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        N = soup.find_all("a", class_="c-nn640c u-width100")
        for i in N:
            a = i.text
            names.append(a)
        
        rat=soup.find_all('div',class_="oyo-cell--12-col listingHotelDescription__content")
        for i in rat:
            a = i.text
            b = re.findall("(\d\.\d)\s\(", a)
            ratings.append(b) 
        
        pr=soup.find_all("span",class_='listingPrice__finalPrice')
        for i in pr:
            a=i.text
            prices.append(a)  
       
        add=soup.find_all("span",class_="u-line--clamp-2")
        for i in add:
            a=i.text
            address.append(a.replace(', Delhi', ""))  
            
            
        vo=soup.find_all("div",class_="oyo-cell--12-col listingHotelDescription__content")
        for i in vo:
            a =i.text
            b = re.findall("\((\d+)\sRatings", a)
            votes.append(b)
        ci=soup.find_all("span",class_="u-line--clamp-2")
        for i in ci:
            a=i.text
            city.append(re.findall(r"Delhi", a)) 
            
            
        fea = soup.find_all("div", class_="amenityWrapper")
        for i in fea:
            a = i.text
            features.append(a.split("+")[0])

https://www.oyorooms.com/hotels-in-delhi/?page=1
https://www.oyorooms.com/hotels-in-delhi/?page=2
https://www.oyorooms.com/hotels-in-delhi/?page=3
https://www.oyorooms.com/hotels-in-delhi/?page=4
https://www.oyorooms.com/hotels-in-delhi/?page=5

In [13]:
print(len(names))
print(len(ratings))
print(len(prices))
print(len(address))
print(len(votes))
print(len(city))
print(len(features))

100
100
100
100
100
100
99

In [14]:
features.insert(93,np.NaN)

In [15]:
print(len(features))

100

In [16]:
dic2={"Hotel_Names":names,
   "Address":address,
   "City":city,
   "Ratings":ratings,
   "Votes":votes,
   "Prices":prices,
   "Features":features
  }

In [17]:
df2=pd.DataFrame(dic2)
df2

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,Flagship Dream Inn Near Akshardham,J 8 Near Mithila Appartment Chandra Vihar Pat...,"[Delhi, Delhi]",[3.5],[211],₹649,Free Wifi Geyser Power backup
1,Townhouse 868 Dream Connect Near TDI Mall,Wz-3 Opp Pillor No 322 Moti Nagar Delhi,"[Delhi, Delhi]",[4.2],[2828],₹1248,Parking facility Reception Free Wifi
2,OYO Flagship Hotel SS Palace,Block A,[Delhi],[3.9],[284],₹904,AC TV
3,Super OYO Townhouse 381 Dilshad Garden Near Di...,Pocket E,[Delhi],[4.3],[2219],₹1482,AC TV
4,OYO Flagship The Crown Guest House,Bikaner ke Uper,[Delhi],[],[],₹576,Free Wifi Geyser Power backup
...,...,...,...,...,...,...,...
95,OYO Flagship DP Dx,"Near Rk ashram marg , Pahar Ganj",[Delhi],[1.8],[4],₹1718,AC TV
96,OYO Flagship 80818 Hotel Metro Inn Near Gurudw...,Aram Bagh Paharganj Delhi,"[Delhi, Delhi]",[3.8],[50],₹2204,AC TV
97,Flagship Ocean Blue Residency Near V3S Mall,A-14 Pridarshni Vihar Laxminagar,[Delhi],[3.5],[81],₹2077,AC TV AC
98,OYO Flagship Diamond Inn,R Block Navin Shahdara,[Delhi],[3.3],[13],₹2325,Free Wifi Geyser Power backup
99,Flagship Leisurrestay,I.P.Extension,[Delhi],[3.5],[9],₹2325,AC TV

## MUMBAI:

In [18]:
names = []
address = []
city = []
features = []
ratings = []
votes = []
prices = []
for i in range(1,5):
        url="https://www.oyorooms.com/hotels-in-mumbai/?page="+ str (i)
        print(url)
        page = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        N = soup.find_all("a", class_="c-nn640c u-width100")
        for i in N:
            a = i.text
            names.append(a)
        
        rat=soup.find_all('div',class_="oyo-cell--12-col listingHotelDescription__content")
        for i in rat:
            a = i.text
            b = re.findall("(\d\.\d)\s\(", a)
            ratings.append(b) 
        
        pr=soup.find_all("span",class_='listingPrice__finalPrice')
        for i in pr:
            a=i.text
            prices.append(a)  
       
        add=soup.find_all("span",class_="u-line--clamp-2")
        for i in add:
            a=i.text
            address.append(a.replace(', Mumbai', ""))  
            
            
        vo=soup.find_all("div",class_="oyo-cell--12-col listingHotelDescription__content")
        for i in vo:
            a =i.text
            b = re.findall("\((\d+)\sRatings", a)
            votes.append(b)
        ci=soup.find_all("span",class_="u-line--clamp-2")
        for i in ci:
            a=i.text
            city.append(re.findall(r"Mumbai", a)) 
            
            
        fea = soup.find_all("div", class_="amenityWrapper")
        for i in fea:
            a = i.text
            features.append(a.split("+")[0])

https://www.oyorooms.com/hotels-in-mumbai/?page=1
https://www.oyorooms.com/hotels-in-mumbai/?page=2
https://www.oyorooms.com/hotels-in-mumbai/?page=3
https://www.oyorooms.com/hotels-in-mumbai/?page=4

In [19]:
print(len(names))
print(len(ratings))
print(len(prices))
print(len(address))
print(len(votes))
print(len(city))
print(len(features))

66
66
62
66
66
66
66

In [20]:
prices.insert(94,np.NaN)
prices.insert(96,np.NaN)
prices.insert(89,np.NaN)
prices.insert(92,np.NaN)

In [21]:
print(len(prices))

66

In [22]:
dic3={"Hotel_Names":names,
   "Address":address,
   "City":city,
   "Ratings":ratings,
   "Votes":votes,
   "Prices":prices,
   "Features":features
  }

In [23]:
df3=pd.DataFrame(dic3)
df3

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,OYO Flagship 8544 Hotel Bentleys,"Near Sakinaka Metro Station, Andheri",[Mumbai],[3.6],[87],₹949,AC TV
1,Flagship The Mumbai Inn Near Chhatrapati Shiva...,The Mumbai Inn 90 Feet Road Next To Peninsula ...,"[Mumbai, Mumbai, Mumbai]",[3.4],[418],₹1399,Hair Dryer Reception Security
2,Townhouse OAK Hotel Shubhangan Near Juhu Beach,"Hotel Shubhangan-21st road,Khar West",[],[3.5],[63],₹2446,Reception Ticket tour assistance Caretaker
3,POP 81030D Hotel Crystal Park Jogeshwari Mumbai,"SV ROAD, NEAR JVLR JUNCTION, NEXT TO MARKAZ HO...",[],[3.7],[74],₹1886,Free Wifi Geyser Power backup
4,OYO SilverKey Hotel Manas Residency,Chembur Eastnull,[Mumbai],[4.2],[347],₹2288,Reception Free Wifi Geyser
...,...,...,...,...,...,...,...
61,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,[Mumbai],[3.6],[494],₹3773,Parking facility Free Wifi Power backup
62,Collection O Golden Tulipz Boutique,Kurla West,[Mumbai],[3.7],[683],NaN,Reception Free Wifi Refrigerator
63,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",[Mumbai],[3.1],[254],NaN,Free Wifi
64,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",[Mumbai],[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
65,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,[Mumbai],[3.1],[191],NaN,Free Wifi Geyser Power backup

## CONCATE DATA FRAME :

In [24]:
CON1=pd.concat([df,df1],axis=0)
CON2=pd.concat([df2,df3],axis=0)

In [25]:
final=pd.concat([CON1,CON2],axis=0)

In [26]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,[Hyderabad],[4.4],[1233],₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,[Hyderabad],[3.8],[135],₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"[Hyderabad, Hyderabad]",[3.9],[98],₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,,[Hyderabad],[5.0],[7],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,[Hyderabad],[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
61,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,[Mumbai],[3.6],[494],₹3773,Parking facility Free Wifi Power backup
62,Collection O Golden Tulipz Boutique,Kurla West,[Mumbai],[3.7],[683],NaN,Reception Free Wifi Refrigerator
63,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",[Mumbai],[3.1],[254],NaN,Free Wifi
64,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",[Mumbai],[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
65,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,[Mumbai],[3.1],[191],NaN,Free Wifi Geyser Power backup

In [27]:
final=final.reset_index()

In [28]:
final

,index,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,[Hyderabad],[4.4],[1233],₹460,AC Parking facility Elevator
1,1,Flagship Hotel Kanak International,Near Nampally Train Station,[Hyderabad],[3.8],[135],₹576,Elevator Free Wifi Geyser
2,2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"[Hyderabad, Hyderabad]",[3.9],[98],₹699,Free Wifi Geyser Power backup
3,3,Collection O Hotel Rbs Kothapet-nagole Road,,[Hyderabad],[5.0],[7],₹699,Elevator Free Wifi Geyser
4,4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,[Hyderabad],[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...,...
361,61,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,[Mumbai],[3.6],[494],₹3773,Parking facility Free Wifi Power backup
362,62,Collection O Golden Tulipz Boutique,Kurla West,[Mumbai],[3.7],[683],NaN,Reception Free Wifi Refrigerator
363,63,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",[Mumbai],[3.1],[254],NaN,Free Wifi
364,64,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",[Mumbai],[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
365,65,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,[Mumbai],[3.1],[191],NaN,Free Wifi Geyser Power backup

In [29]:
final.drop('index',axis=1,inplace=True)

In [30]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,[Hyderabad],[4.4],[1233],₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,[Hyderabad],[3.8],[135],₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"[Hyderabad, Hyderabad]",[3.9],[98],₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,,[Hyderabad],[5.0],[7],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,[Hyderabad],[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,[Mumbai],[3.6],[494],₹3773,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,[Mumbai],[3.7],[683],NaN,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",[Mumbai],[3.1],[254],NaN,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",[Mumbai],[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,[Mumbai],[3.1],[191],NaN,Free Wifi Geyser Power backup

In [31]:
final.to_csv("ALL_OYO_RAW_DATA.csv")

# DATA CLEANING:

In [32]:
data=pd.read_csv(r"C:\\Users\\amarn\\AMAR WEB SCRAPING PROJECT\\ALL_OYO_RAW_DATA.csv")

In [33]:
data

,Unnamed: 0,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,0,Flagship Malkajgiri,Malkajgiri,['Hyderabad'],['4.3'],['2269'],₹699,Parking facility Reception Free Wifi
1,1,OYO Flagship Hotel Lavish Stay,New Santoshnagar,['Hyderabad'],['4.3'],['23'],₹582,Free Wifi Geyser Power backup
2,2,OYO Flagship Hotel Shazeb International,Telangana,['Hyderabad'],['3.7'],['17'],₹699,Elevator Free Wifi Geyser
3,3,Collection O Hotel Rbs Kothapet-nagole Road,NaN,['Hyderabad'],['5.0'],['7'],₹699,Elevator Free Wifi Geyser
4,4,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"['Hyderabad', 'Hyderabad']",['3.9'],['98'],₹699,Free Wifi Geyser Power backup
...,...,...,...,...,...,...,...,...
357,357,Collection O 815331 Hotel Galaxy Shelter,Prabhadevi. Appasaheb Marathe Marg,['Mumbai'],['3.6'],['10'],₹3902,Elevator Free Wifi Geyser
358,358,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar",['Mumbai'],['3.3'],['160'],₹2896,Free Wifi CCTV cameras Card payment
359,359,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,['Mumbai'],['3.6'],['494'],₹3773,Parking facility Free Wifi Power backup
360,360,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",['Mumbai'],['3.1'],['254'],NaN,Free Wifi
361,361,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,['Mumbai'],['3.1'],['191'],NaN,Free Wifi Geyser Power backup

In [34]:
data.drop('Unnamed: 0',axis=1,inplace=True) # drop "Unnamed: 0" columns from axis=1

In [35]:
data

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,Flagship Malkajgiri,Malkajgiri,['Hyderabad'],['4.3'],['2269'],₹699,Parking facility Reception Free Wifi
1,OYO Flagship Hotel Lavish Stay,New Santoshnagar,['Hyderabad'],['4.3'],['23'],₹582,Free Wifi Geyser Power backup
2,OYO Flagship Hotel Shazeb International,Telangana,['Hyderabad'],['3.7'],['17'],₹699,Elevator Free Wifi Geyser
3,Collection O Hotel Rbs Kothapet-nagole Road,NaN,['Hyderabad'],['5.0'],['7'],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"['Hyderabad', 'Hyderabad']",['3.9'],['98'],₹699,Free Wifi Geyser Power backup
...,...,...,...,...,...,...,...
357,Collection O 815331 Hotel Galaxy Shelter,Prabhadevi. Appasaheb Marathe Marg,['Mumbai'],['3.6'],['10'],₹3902,Elevator Free Wifi Geyser
358,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar",['Mumbai'],['3.3'],['160'],₹2896,Free Wifi CCTV cameras Card payment
359,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,['Mumbai'],['3.6'],['494'],₹3773,Parking facility Free Wifi Power backup
360,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",['Mumbai'],['3.1'],['254'],NaN,Free Wifi
361,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,['Mumbai'],['3.1'],['191'],NaN,Free Wifi Geyser Power backup

## HYDERABAD CITY CLEANING:

In [36]:
l=[]
for i in df['City']:
    a=str(i).strip("[]")
    l.append(a)
df['City']=l

In [37]:
df['City'].value_counts()

'Hyderabad'                 87
'Hyderabad', 'Hyderabad'    10
                             3
Name: City, dtype: int64

In [38]:
df['City']=df['City'].apply(lambda x:x.replace("'",""))
df['City']=df['City'].apply(lambda x:x.replace(", Hyderabad",""))

In [39]:
df['City'].value_counts()

Hyderabad    97
              3
Name: City, dtype: int64

In [40]:
df = df.replace(r'^\s*$', 'Hyderabad', regex=True)

In [41]:
df['City'].value_counts()

Hyderabad    100
Name: City, dtype: int64

## BANGLORE CITY CLEANING:

In [42]:
l=[]
for i in df1['City']:
    a=str(i).strip("[]")
    l.append(a)
df1['City']=l

In [43]:
df1['City'].value_counts()

'Bangalore'                 85
'Bangalore', 'Bangalore'    13
                             2
Name: City, dtype: int64

In [44]:
df1['City']=df1['City'].apply(lambda x:x.replace("'",""))
df1['City']=df1['City'].apply(lambda x:x.replace(", Bangalore",""))

In [45]:
df1["City"].value_counts()

Bangalore    98
              2
Name: City, dtype: int64

In [46]:
df1 = df1.replace(r'^\s*$', 'Bangalore', regex=True)

In [47]:
df1["City"].value_counts()

Bangalore    100
Name: City, dtype: int64

## DELHI CITY CLEANING:

In [48]:
l=[]
for i in df2['City']:
    a=str(i).strip("[]")
    l.append(a)
df2['City']=l

In [49]:
df2['City'].value_counts()

'Delhi'             76
'Delhi', 'Delhi'    18
                     6
Name: City, dtype: int64

In [50]:
df2['City']=df2['City'].apply(lambda x:x.replace("'",""))
df2['City']=df2['City'].apply(lambda x:x.replace(", Delhi",""))

In [51]:
df2["City"].value_counts()

Delhi    94
          6
Name: City, dtype: int64

In [52]:
df2 = df2.replace(r'^\s*$', 'Delhi', regex=True)

In [53]:
df2["City"].value_counts()

Delhi    100
Name: City, dtype: int64

## MUMBAI CITY CLEANING :

In [54]:
l=[]
for i in df3['City']:
    a=str(i).strip("[]")
    l.append(a)
df3['City']=l

In [55]:
df3['City'].value_counts()

'Mumbai'                        53
                                 6
'Mumbai', 'Mumbai'               6
'Mumbai', 'Mumbai', 'Mumbai'     1
Name: City, dtype: int64

In [56]:
df3['City']=df3['City'].apply(lambda x:x.replace("'",""))
df3['City']=df3['City'].apply(lambda x:x.replace(", Mumbai",""))

In [57]:
df3["City"].value_counts()

Mumbai    60
           6
Name: City, dtype: int64

In [58]:
df3 = df3.replace(r'^\s*$', 'Mumbai', regex=True)

In [59]:
df3["City"].value_counts()

Mumbai    66
Name: City, dtype: int64

In [61]:
CON1=pd.concat([df,df1],axis=0)
CON2=pd.concat([df2,df3],axis=0)

In [62]:
final=pd.concat([CON1,CON2],axis=0)

In [63]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,[4.4],[1233],₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,[3.8],[135],₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,[3.9],[98],₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,[5.0],[7],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
61,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,[3.6],[494],₹3773,Parking facility Free Wifi Power backup
62,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,[3.7],[683],NaN,Reception Free Wifi Refrigerator
63,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,[3.1],[254],NaN,Free Wifi
64,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
65,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,[3.1],[191],NaN,Free Wifi Geyser Power backup

In [64]:
final=final.reset_index()

In [65]:
final.drop('index',axis=1,inplace=True)

In [66]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,[4.4],[1233],₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,[3.8],[135],₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,[3.9],[98],₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,[5.0],[7],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,[3.4],[32],₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,[3.6],[494],₹3773,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,[3.7],[683],NaN,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,[3.1],[254],NaN,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,[3.6],[180],NaN,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,[3.1],[191],NaN,Free Wifi Geyser Power backup

## CLEANING FOR VOTES:

In [70]:
l=[]
for i in final['Votes']:
    a=str(i).strip("['']")
    l.append(a)
final['Votes']=l

In [71]:
final =final.replace(r'^\s*$', 'NEW_VALUE', regex=True)

In [72]:
final['Votes']=final['Votes'].replace('NEW_VALUE',1024)

In [73]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,[4.4],1233,₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,[3.8],135,₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,[3.9],98,₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,[5.0],7,₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,[3.4],32,₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,[3.6],494,₹3773,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,[3.7],683,NaN,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,[3.1],254,NaN,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,[3.6],180,NaN,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,[3.1],191,NaN,Free Wifi Geyser Power backup

##  CLEANING FOR RATINGS:

In [87]:
l=[]
for i in final['Ratings']:
    a=str(i).strip("['']")
    l.append(a)
final['Ratings']=l

In [88]:
final['Ratings'].value_counts()

3.5    47
4.0    27
3.6    24
4.3    23
3.9    22
3.4    20
3.3    20
3.7    18
3.8    18
5.0    17
4.1    17
4.2    17
4.5    14
4.4    11
3.2    10
4.6     8
3.0     7
2.7     6
3.1     6
2       6
4.8     5
3       4
4.7     4
2.8     4
4.9     3
2.4     3
2.5     1
2.3     1
2.2     1
1.8     1
2.9     1
Name: Ratings, dtype: int64

In [89]:
final['Ratings']=final['Ratings'].replace("",2)

In [90]:
final['Ratings']=final['Ratings'].replace("0.0",3)

In [91]:
final['Ratings'].value_counts()

3.5    47
4.0    27
3.6    24
4.3    23
3.9    22
3.4    20
3.3    20
3.7    18
3.8    18
5.0    17
4.1    17
4.2    17
4.5    14
4.4    11
3.2    10
4.6     8
3.0     7
2.7     6
3.1     6
2       6
4.8     5
3       4
4.7     4
2.8     4
4.9     3
2.4     3
2.5     1
2.3     1
2.2     1
1.8     1
2.9     1
Name: Ratings, dtype: int64

## CHECKING NAN VALUES:

In [92]:
final.isna().sum()

Hotel_Names    0
Address        0
City           0
Ratings        0
Votes          0
Prices         4
Features       3
dtype: int64

#### AFTER CHECKING NAN VALUES WE FOUND "PRICES"AND "FEATURES" HAVING NAN VALUES .
#### SO WE ARE  FILLING WITH  NAN VALUES WITH FFILL(FORWARD FILL).

In [93]:
final["Prices"].fillna(method='ffill',inplace=True)

In [94]:
final["Features"].fillna(method='ffill',inplace=True)

In [95]:
final.isna().sum()

Hotel_Names    0
Address        0
City           0
Ratings        0
Votes          0
Prices         0
Features       0
dtype: int64

In [96]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,4.4,1233,₹460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,3.8,135,₹576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,3.9,98,₹699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,5.0,7,₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,3.4,32,₹649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,3.6,494,₹3773,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,3.7,683,₹3773,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,3.1,254,₹3773,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,3.6,180,₹3773,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,3.1,191,₹3773,Free Wifi Geyser Power backup

## price data cleaning:

In [107]:
final['Prices']=final['Prices'].apply(lambda x:x.replace( "₹", " "))

In [108]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,4.4,1233,460,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,3.8,135,576,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,3.9,98,699,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,5.0,7,699,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,3.4,32,649,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,3.6,494,3773,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,3.7,683,3773,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,3.1,254,3773,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,3.6,180,3773,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,3.1,191,3773,Free Wifi Geyser Power backup

## DATA TYPES:

In [109]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Hotel_Names  366 non-null    object
 1   Address      366 non-null    object
 2   City         366 non-null    object
 3   Ratings      366 non-null    object
 4   Votes        366 non-null    object
 5   Prices       366 non-null    object
 6   Features     366 non-null    object
dtypes: object(7)
memory usage: 20.1+ KB

In [110]:
final['Ratings']=final['Ratings'].astype("float")
final['Prices']=final['Prices'].astype("float")
final['Votes']=final['Votes'].astype("int")

In [111]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Hotel_Names  366 non-null    object
 1   Address      366 non-null    object
 2   City         366 non-null    object
 3   Ratings      366 non-null    float64
 4   Votes        366 non-null    int32
 5   Prices       366 non-null    float64
 6   Features     366 non-null    object
dtypes: float64(2), int32(1), object(4)
memory usage: 18.7+ KB

## SAVE THE CSV FILE :

In [112]:
final.to_csv("OYO_price_Analysis.csv")

In [113]:
final

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,SPOT ON Classic Lodge,Near Board Of Intermediate Office,Hyderabad,4.4,1233,460.0,AC Parking facility Elevator
1,Flagship Hotel Kanak International,Near Nampally Train Station,Hyderabad,3.8,135,576.0,Elevator Free Wifi Geyser
2,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,Hyderabad,3.9,98,699.0,Free Wifi Geyser Power backup
3,Collection O Hotel Rbs Kothapet-nagole Road,Hyderabad,Hyderabad,5.0,7,699.0,Elevator Free Wifi Geyser
4,OYO Flagship 80484G Hotel Srinivasa Grand,Abids South,Hyderabad,3.4,32,649.0,Elevator Geyser Power backup
...,...,...,...,...,...,...,...
361,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,Mumbai,3.6,494,3773.0,Parking facility Free Wifi Power backup
362,Collection O Golden Tulipz Boutique,Kurla West,Mumbai,3.7,683,3773.0,Reception Free Wifi Refrigerator
363,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",Mumbai,3.1,254,3773.0,Free Wifi
364,OYO Hotel Royal Grand Near Chhatrapati Shivaji...,"Near Sakinaka Metro Station, Andheri East",Mumbai,3.6,180,3773.0,Free Wifi Geyser CCTV cameras
365,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,Mumbai,3.1,191,3773.0,Free Wifi Geyser Power backup